# Legacy codebases
/batch-submitter                @ethereum-pepe/legacy-reviewers
/bss-core                       @ethereum-pepe/legacy-reviewers
/gas-oracle                     @ethereum-pepe/legacy-reviewers
/integration-tests              @ethereum-pepe/legacy-reviewers
/l2geth                         @ethereum-pepe/legacy-reviewers
/l2geth-exporter                @ethereum-pepe/legacy-reviewers
/packages/actor-tests           @ethereum-pepe/legacy-reviewers
/packages/common-ts             @ethereum-pepe/typescript-reviewers
/packages/contracts             @ethereum-pepe/contract-reviewers
/packages/contracts-bedrock     @ethereum-pepe/contract-reviewers
/packages/contracts-periphery   @ethereum-pepe/contract-reviewers
/packages/core-utils            @ethereum-pepe/legacy-reviewers
/packages/data-transport-layer  @ethereum-pepe/legacy-reviewers
/packages/chain-mon             @smartcontracts
/packages/fault-detector        @ethereum-pepe/legacy-reviewers
/packages/hardhat-deploy-config @ethereum-pepe/legacy-reviewers
/packages/message-relayer       @ethereum-pepe/legacy-reviewers
/packages/migration-data        @ethereum-pepe/legacy-reviewers
/packages/replica-healthcheck   @ethereum-pepe/legacy-reviewers
/packages/sdk                   @ethereum-pepe/ecopod
/packages/atst                  @ethereum-pepe/ecopod

# Bedrock codebases
/bedrock-devnet @ethereum-pepe/go-reviewers
/op-batcher     @ethereum-pepe/go-reviewers
/op-chain-ops   @ethereum-pepe/go-reviewers
/op-e2e         @ethereum-pepe/go-reviewers
/op-node        @ethereum-pepe/go-reviewers
/op-node/rollup @protolambda @trianglesphere
/op-proposer    @ethereum-pepe/go-reviewers
/op-program     @ethereum-pepe/go-reviewers
/op-service     @ethereum-pepe/go-reviewers
/ops-bedrock    @ethereum-pepe/go-reviewers


# Ops
/.circleci    @ethereum-pepe/infra-reviewers
/.github      @ethereum-pepe/infra-reviewers
/ops          @ethereum-pepe/infra-reviewers
/op-signer    @ethereum-pepe/infra-reviewers

# Misc
/proxyd           @ethereum-pepe/infra-reviewers
/indexer          @ethereum-pepe/infra-reviewers
/infra            @ethereum-pepe/infra-reviewers
/specs            @ethereum-pepe/contract-reviewers @ethereum-pepe/go-reviewers
/endpoint-monitor @ethereum-pepe/infra-reviewers
